@charset "utf-8";

/* -- reset -- */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
    margin: 0;
    padding: 0;
}

header,
footer,
section,
article,
aside,
nav,
address,
figure,
figcaption,
menu,
details {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th {
    text-align: left;
    font-weight: normal;
}

em {
    font-style: normal;
}

li {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}

a,
button {
    cursor: pointer;
}

img {
    border: none;
    vertical-align: top;
}

input,
textarea {
    outline: none;
}

textarea {
    overflow: auto;
    resize: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: normal;
    line-height: 1.1;
    color: inherit;
}

/* -- reset end -- */

@font-face {
    font-family: MyriadPro;
    src: url('../font/MyriadPro-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: MyriadPro Bold;
    src: url('../font/MyriadPro-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

html {
    font-family: MyriadPro;
    font-size: 1rem;
}

#AMain {
    width: 100%;
    margin: 0 auto;
    background-color: #F3F3F3;
    padding-top: 60px;
}

img {
    -webkit-user-drag: none;
}

/* start */
.main {
    position: relative;
}
.big-img {
    width: 100%;
}
.news{
    width: 80%;
    position: relative;
    min-width: 800px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.breadcrumb_box{
    display: flex;
    margin-top: 1rem;
}
.breadcrumb{
    background-color: #F3F3F3 !important;
    margin-bottom: 0rem !important;
}
.breadcrumb-item+.breadcrumb-item::before{
    content: '>' !important;
}
.news .news_list{
text-align: center;
padding: 50px 0;
}
.news .news_list .tit{
    font-size: 36px;
    font-family: MyriadPro;
}
.news .news_list ul{
    font-size: 0px;
    position: relative;
}
.news .news_list ul li:nth-child(1){
    text-decoration: underline;
}
.news .news_list ul li{
    text-align: center;
    display: inline-block;
    font-size: 24px;
    min-width: 312px;
}
.news .news_content{
    padding: 50px 0;
}
.news .news_content .news_ul{
    font-size: 0px;
    position: relative;
}
.news .news_content .news_ul li a{
    color:unset;
}
.news .news_content .news_ul li a:hover{
    list-style: none;
    text-decoration: none;
}
.news .news_content .news_ul li{
    width: 31%;
    margin: 1%;
    display: inline-block;
    vertical-align: top;
}
.news .news_content .time{
    margin-top: 20px;
}
.news .news_content .time p{
    font-size: 20px;
    color: #7e7e7e;
}
.news .news_content .time p span,.news .content .left p span{
    font-size: 18px;
    line-height: 1;
    font-weight: bolder;
    border-radius: 6px;
    background-color: #D1092F;
    color: white;
    padding: 3px 5px;
    margin-right: 10px;
}
.news .news_content .message .tit{
    font-size: 24px;
    line-height: 1.3;
}
.news .news_content .message .msg{
    font-size: 20px;
    line-height: 1.3;
    color: #7e7e7e;
}
.page-link{
    color: black !important;
}
.news .content p{
    margin-bottom: 0rem;
}
.news .content{
    font-size: 0px;
    position: relative;
    padding-top: 80px;
    display: flex;
}
.news .content .left{
    width: 20%;
}
.news .content .right{
    width: 80%;
}
.news .content .left p{
    font-size: 20px;
    color: #7e7e7e;
}
.news .content .right .tit{
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}
.news .content .right .msg{
    font-size: 22px;
    padding: 20px 0;
}
.news_pagination{
    padding-top: 50px;
}


/* end */

@media screen and (max-width: 800px) {
   
}

@media screen and (max-width:1500px)and (min-width:1000px) {

}
@media screen and (max-width:1200px)and (min-width:1000px) {
    .news .content .left p {
        font-size: 18px;
    }
    .news {
        width: 100%;
    }
    .news .news_content .news_ul li {
        width: 48%;
    }
    .news .news_content .message .msg {
        font-size: 18px;
    }
    .news .news_content .message .tit {
        font-size: 22px;
    }
}
@media screen and (max-width:1000px)and (min-width:800px) {
    .news .news_list ul li {
        font-size: 18px;
        min-width: 235px;
    }
    .news .content .left p,.news .content .left p span{
        font-size: 14px;
    }
    .news {
        width: 100%;
    }
    .news .news_content .message .msg {
        font-size: 18px;
    }
    .news .news_content .message .tit {
        font-size: 22px;
    }
    .news .news_content .news_ul li {
        width: 48%;
    }
}
