<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="canonical" href=""/>
    <title  th:if="${tdkMap==null}">  title </title>
    <title th:text="${tdkMap[tdk_title]}" th:if="${tdkMap!=null}">OSCAL-header</title>
    <meta name="description" th:attr="content=${tdkMap[tdk_describe]}" th:if="${tdkMap!=null}">
    <meta name="keywords" th:attr="content=${tdkMap[tdk_keywords]}" th:if="${tdkMap!=null}">
    <meta name="description" content="" th:if="${tdkMap==null || tdkMap[tdk_describe]==''}">
    <meta name="keywords" content="" th:if="${tdkMap==null || tdkMap[tdk_keywords]==''}">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel='stylesheet' type='text/css' href='/css/createPosts.css?v=1.002'>
    <link rel="stylesheet" href="/lib/Summernote/summernote-lite.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.min.css">
    <link rel='stylesheet' type='text/css' href='/lib/Summernote/summernote-emoji-master/tam-emoji/css/emoji.css'>
    <link rel='stylesheet' type='text/css' href="/lib/bootstrap-4.6.0-dist/css/bootstrap.min.css">
    <link rel='stylesheet' type='text/css' href="/lib/bootstrap-fileinput-master/css/fileinput.min.css">
</head>

<body class="en">
<div th:include="communityHeader :: communityHeader">
</div>
    <div id="AMain" class="main">
        <div class="mainContent">
            <div class="navsMenu">
                <p><a href="/home">Home</a> > Create a new post</p>
            </div>
            <div class="createPostBox">
                <form id="createPostsForm" class="needs-validation-createPostsForm" novalidate>
                     <div class="mb-3">
                        <div class="sort">
                            <div class="item active" onclick="postSort(0)">
                                <img src="/img/blog-img/normalpost.png" alt="normalpost">
                                <img src="/img/blog-img/normalpost0.png" alt="normalpost">
                                <p>Normal Post</p>
                            </div>
                            <!-- <div class="item" onclick="postSort(1)">
                                <img src="/img/blog-img/qapost0.png" alt="qapost0">
                                <img src="/img/blog-img/qapost.png" alt="qapost0">
                                <p>OS Post</p>
                            </div> -->
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <input type="text" class="postTitle" id="postTitle" pattern="[\s\S+A-Za-z0-9]{5,100}"
                                placeholder="Enter title (5/100)" required></input>
                            <div class="invalid-feedback">
                                Please enter 5-100 characters
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <!-- 富文本编辑器 -->
                        <div class="comments_bottom">
                            <textarea id="summernote" class="summernote" pattern="[\w]{5,100000}" required></textarea>
                            <div class="invalid-feedback">
                                Please enter 5-100000 characters
                            </div>
                        </div>
                        <p class="note">5-100000 characters</p>
                    </div>
                    <div class="mb-3">
                        <div class="selectBox">
                            <div class="row">
                                <div class="col-sm-4">
                                    <select class="form-control custom-select" id="category" required>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control custom-select" id="section" required>
                                        <option value='' disabled selected style='display:none;'>Section</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select
                                    </div>
                                </div>
                                <!-- <div class="col-sm">
                                    <select class="form-control custom-select" id="threeSection">
                                        <option value='' disabled selected style='display:none;'>Section</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select
                                    </div>
                                </div> -->
                                </div>
                            </div>
                        </div>
                    <div class="mb-3">
                        <div class="uploadCoverBox">
                            <div class="upload-coverImage">
                                <button type="button" class="btn btn-outline-secondary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                        class="bi bi-arrow-bar-up" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z" />
                                    </svg>
                                    Upload Pictures
                                </button>
                            </div>
                            <div class="upload-coverImage-list">
                                <ul>
                                    <!-- <li removeIndex='1'>
                                        <img src="/OSCAL/oscal-test/static/img/blog-img/community-tab9.jpg" alt="">
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                        <p class="upload-msg">Pictures Only Support: jpg, gif, png, webp, jpeg</p>
                    </div>
                    <div class="postBtn">
                        <button type="button" class="btn postCancel" data-toggle="modal"
                            data-target="#postCancelModel">Cancel</button>
                        <button type="submit btn btn-light" class="btn postSubmit">Submit</button>
                    </div>
                </form>

                <!-- 上传图片Modal -->
                <div class="modal fade" id="updateImageModal" tabindex="-1" aria-labelledby="exampleModalLabel2"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel2">Image</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input id="input-id" name='file' multiple type="file" class="file" data-preview-file-type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="postCancelModel" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Cancel</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure to leave the page?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                <a href="/home" target="_self"><button type="button"
                                        class="btn btn-primary">OK</button></a>
                            </div>
                        </div>
                    </div>
                </div>
           
            </div>
        </div>
    </div>
    <div id="alertBox">
    </div>
    <div id="maskLayer">
        <div class="spinner-border text-light" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div id="footer" th:include="footer :: myFooter">
    </div>
</body>

</html>
<script src="/lib/js/jquery-3.3.1.min.js"></script>
<script src="/js/createPosts.js?v=1.002"></script>
<script src="/lib/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
<script src="/lib/bootstrap-fileinput-master/js/fileinput.min.js"></script>
<script src="https://use.fontawesome.com/52e183519a.js"></script>
<script src="/lib/Summernote/summernote-lite.min.js"></script>
<script src="/lib/Summernote/summernote-emoji-master/tam-emoji/js/config.js"></script>
<script src="/lib/Summernote/summernote-emoji-master/tam-emoji/js/tam-emoji.min.js?v=1.1"></script>

