<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Community-users</title>
    <meta name="description" content="description">
    <meta name="keywords" content="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel='stylesheet' type='text/css' href='/css/users.css?v=1.001'>
    <link rel='stylesheet' type='text/css' href="/lib/bootstrap-4.6.0-dist/css/bootstrap.min.css">
    <link rel='stylesheet' type='text/css' href="/lib/bootstrap-fileinput-master/css/fileinput.min.css">
</head>

<body class="en">
<div th:include="communityHeader :: communityHeader">
</div>
<div id="AMain" class="main">
    <div class="mainContent">
        <div class="usersBox">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-link active" id="nav-following-tab" data-toggle="tab" href="#nav-following"
                       onclick="navMain('following')" role="tab" aria-controls="nav-following"
                       aria-selected="true">Followings<span th:text="'('+${followeeCount} +')'"></span></a>
                    <a class="nav-link" id="nav-posts-tab" data-toggle="tab" href="#nav-posts" role="tab"
                       onclick="navMain('posts')" aria-controls="nav-posts" aria-selected="false">Posts <span
                        th:text="'('+${rows} +')'"></span></a>
                    <a class="nav-link" id="nav-likes-tab" data-toggle="tab" href="#nav-likes" role="tab"
                       onclick="navMain('likes')" aria-controls="nav-likes" aria-selected="false">Likes<span
                        th:text="'('+${userLikeCount} +')'"></span></a>
                    <a class="nav-link" id="nav-followers-tab" data-toggle="tab" href="#nav-followers" role="tab"
                       onclick="navMain('followers')" aria-controls="nav-followers" aria-selected="false">Followers
                        <span th:text="'('+${followerCount} +')'"></span></a>
                    <a class="nav-link" id="nav-comments-tab" data-toggle="tab" href="#nav-comments" role="tab"
                       onclick="navMain('comments')" aria-controls="nav-comments" aria-selected="false">Comments
                        <span th:text="'('+${commentNum} +')'"></span></a>
                    <input type="hidden" th:value="${userInfo.id}" id="sys_user_id">
                    <input type="hidden" th:value="${totalPage}" id="totalPage">
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-following" role="tabpanel"
                     aria-labelledby="nav-following-tab">
                    <ul>
                    </ul>
                    <div class="Pagination followingsPagination paginationActive">
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-posts" role="tabpanel" aria-labelledby="nav-posts-tab">
                    <ul>
                    </ul>
                    <div class="Pagination postsPagination">
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-likes" role="tabpanel" aria-labelledby="nav-likes-tab">
                    <ul>
                    </ul>
                    <div class="Pagination likesPagination">
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-followers" role="tabpanel" aria-labelledby="nav-followers-tab">
                    <ul>
                    </ul>
                    <div class="Pagination followersPagination">
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-comments" role="tabpanel" aria-labelledby="nav-comments-tab">
                    <ul>
                    </ul>
                    <div class="Pagination commentsPagination">
                    </div>
                </div>
            </div>
        </div>
        <div class="usersInfo">
            <div class="usersBox">
                <div class="usersImage">
                    <img class="user_image" id="usersImage" th:src="${userInfo.headPhoto}" alt="usersImg">
                </div>
                <p class="usersName">
                    <span class="usersName" th:text="${userInfo.sysUserAccount}">test</span>
                    <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path
                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd"
                                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                            </svg>
                        </span>
                </p>
                <ul>
                    <li onclick="clickNav('nav-posts-tab')">
                        <p class="number" th:text="${rows}">2</p>
                        <p class="user_info">Posts</p>
                    </li>
                    <li onclick="clickNav('nav-following-tab')">
                        <p class="number" th:text="${followeeCount}">0</p>
                        <p class="user_info">Following</p>
                    </li>
                    <li onclick="clickNav('nav-followers-tab')">
                        <p class="number" th:text="${followerCount}">1</p>
                        <p class="user_info">Followers</p>
                    </li>
                    <li>
                        <a href="/user/jumpToCoin" target="_self">
                            <p class="number" th:text="${userInfo.oCoin}">90</p>
                            <p class="user_info">O Coin</p>
                        </a>
                    </li>
                </ul>
            </div>
            <a href="/discuss/jumpNewPost" target="_self">
                <div class="createPost">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                         class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                    <span>
                            New Post
                        </span>
                </div>
            </a>
        </div>
    </div>

    <!-- 上传头像弹窗 -->
    <div class="modal fade" id="updateImageModal" tabindex="-1" aria-labelledby="exampleModalLabel2"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="input-id" name='file' type="file" class="file" data-preview-file-type="text">
                    <!--  <div style="width: 900px;height: 500px;margin: auto auto;">
                      <div class="container-fluid">
                          <form id="form" th:action="@{/admin/uploadTest}" method="post" enctype="multipart/form-data">
                              <div class="row form-group">
                                  <label class="col-md-4">图片上传:</label>
                                  <div class="col-sm-12">
                                      <input id="input-id" name="file" multiple="multiple" th:multiple="multiple" type="file" data-show-caption="true"/>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>-->
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modifyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input class="modalInput" type="text">
                    <div class="invalid-feedback">
                        Username can not be empty!
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary modifyUsersNameBtn">Submit</button>
                    <button type="button" class="btn btn-primary submitReplayBtn">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" th:include="footer :: myFooter">
    </div>
</div>
</body>
<script src="/lib/js/jquery-3.3.1.min.js"></script>
<script src="/js/users.js?v=1.001"></script>
<script async src="/lib/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
<script src="/lib/bootstrap-fileinput-master/js/fileinput.min.js"></script>
<script async
        src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/other/lazysizes.min-20201204070627489.js"></script>
</html>