<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Community-users</title>
    <meta name="description" content="description">
    <meta name="keywords" content="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel='stylesheet' type='text/css' href='/css/users.css?v=1.001'>
    <link rel='stylesheet' type='text/css'
          href="/lib/bootstrap-4.6.0-dist/css/bootstrap.min.css">
    <link rel='stylesheet' type='text/css'
          href="/lib/bootstrap-fileinput-master/css/fileinput.min.css">
</head>

<body class="en">
<div th:include="communityHeader :: communityHeader">
</div>
<div id="AMain" class="main">
    <div class="mainContent">
        <div class="usersBox">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-link active" id="nav-following-tab" data-toggle="tab" href="#nav-following" onclick="navMain('following')"
                       role="tab" aria-controls="nav-following" aria-selected="true" >Following<span th:text="'('+${userInfo[user_following]} +')'" ></span></a>
                    <a class="nav-link" id="nav-posts-tab" data-toggle="tab" href="#nav-posts" role="tab" onclick="navMain('posts')"
                       aria-controls="nav-posts" aria-selected="false" >Posts <span th:text="'('+${userInfo[user_posts]} +')'" ></span></a>
                    <a class="nav-link" id="nav-likes-tab" data-toggle="tab" href="#nav-likes" role="tab" onclick="navMain('likes')"
                       aria-controls="nav-likes" aria-selected="false" >Likes<span th:text="'('+${userInfo[user_likes]} +')'" ></span></a>
                    <a class="nav-link" id="nav-followers-tab" data-toggle="tab" href="#nav-followers" role="tab" onclick="navMain('followers')"
                       aria-controls="nav-followers" aria-selected="false">Followers <span th:text="'('+${userInfo[user_followers]} +')'" ></span></a>
                    <input type="hidden" th:value="${userInfo[id]}" id="sys_user_id">
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-following" role="tabpanel"
                     aria-labelledby="nav-following-tab">
                    <ul>
                    </ul>
                    <div class="Pagination followingsPagination paginationActive">
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-posts" role="tabpanel" aria-labelledby="nav-posts-tab" >
                    <ul>
                    </ul>
                    <div class="Pagination postsPagination">
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-likes" role="tabpanel" aria-labelledby="nav-likes-tab">
                    <ul>
                    </ul>
                    <div class="Pagination likesPagination">
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-followers" role="tabpanel" aria-labelledby="nav-followers-tab">
                    <ul>
                      
                    </ul>
                    <div class="Pagination followersPagination">
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-comments" role="tabpanel" aria-labelledby="nav-comments-tab">
                    <ul>

                    </ul>
                    <div class="Pagination commentsPagination">
                    </div>
                </div>
            </div>
        </div>
        <div class="usersInfo">
            <div class="usersBox">
                <div class="usersImage">
                    <img class="user_image" th:src="${userInfo[head_photo]}" alt="usersImg">
                </div>
                <p class="usersName">
                    <span class="usersName" th:text="${userInfo[sys_user_account]}">test</span>
                </p>
                <!-- <div class="userBtn">
                    <button type="button" class="btn btn-outline-primary followBtn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-person-check" viewBox="0 0 16 16">
                            <path
                                d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                            <path fill-rule="evenodd"
                                d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                        </svg>
                        <span class="followWord">+ Follow</span>
                    </button>
                    <button type="button" class="btn btn-outline-primary followMessage"
                        onclick="followMessageFun(4,'test')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-envelope" viewBox="0 0 16 16">
                            <path
                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                        </svg>
                        Message
                    </button>
                </div> -->
                <ul>
                    <li>
                        <p class="number" th:text="${userInfo[user_posts]}">2</p>
                        <p class="user_info">Posts</p>
                    </li>
                    <li>
                        <p class="number" th:text="${userInfo[user_following]}">0</p>
                        <p class="user_info">Following</p>
                    </li>
                    <li>
                        <p class="number" th:text="${userInfo[user_followers]}">1</p>
                        <p class="user_info">Followers</p>
                    </li>
                    <li>
                        <p class="number" th:text="${userInfo[o_coin]}">90</p>
                        <p class="user_info">O coin</p>
                    </li>
                </ul>
            </div>
            <a href="/discuss/jumpNewPost" target="_self">
                <div class="createPost">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                         class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                    <span>
                            New Post
                        </span>
                </div>
            </a>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modifyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input class="modalInput" type="text">
                    <div class="invalid-feedback">
                        Username can not be empty!
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary modifyUsersNameBtn">Submit</button>
                    <button type="button" class="btn btn-primary submitReplayBtn">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" th:include="footer :: myFooter">
    </div>
</div>
</body>
<script src="/lib/js/jquery-3.3.1.min.js"></script>
<script src="/js/users.js?v=1.001"></script>
<script async src="/lib/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
<script src="/lib/bootstrap-fileinput-master/js/fileinput.min.js"></script>
<script async
        src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/other/lazysizes.min-20201204070627489.js"></script>

</html>