<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="Description" content="Wireless Headphones Without Compromise For Better Workouts">
    <title>OSCAL</title>
    <link rel='stylesheet' type='text/css' href='/static/css/community.css'>
    <link rel='stylesheet' type='text/css' href='/static/css/public.css'>
    <link rel='stylesheet' type='text/css' href="/static/lib/bootstrap-4.6.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <script src="/static/lib/js/jquery-3.3.1.min.js"></script>
    <script async
        src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/other/lazysizes.min-20201204070627489.js"></script>
</head>

<body class="en">
    <div id="header" th:include="header :: myHeader">
    </div>
    <div id="AMain" class="main">
        <div class="mainContent">
            <div class="BlogContent" style="width: 50%;margin: 0 auto;min-width: 800px;padding: 2vw 0 4vw 0;">
                <p class="tit" style="text-align: center;font-size: 24px; font-weight: bold;">
                    6 Reasons Why You'll Love OSCAL Tab 9
                </p>
                <p class="msg" style="margin: 2vw 0;font-size: 22px">
                    Hi guys,
                </p>
                <p class="msg" style="margin: 1vw 0;">
                    Today is a very cool topic about 6 reasons to love buying the amazing OSCAL Tablet 9. Although I
                    only experienced this tablet for less than half a month, it gets me quickly.
                </p>
                <p class="msg" style="text-align: left; font-weight: bold;margin: 1vw 0;">
                    1.Sleek Design
                </p>
                <p class="msg" style="margin: 1vw 0;">
                    I love its appearance at the first sight. This tablet gives a perfect fusion of style and comfort.
                    It’s 8.8mm thin and very comfortable to hold. Made of aluminum, the back cover wraps the back of the
                    tablet completely and blends seamlessly with the edges of the screen. The four sides are well curved
                    to make it look more elegant.
                </p>
                <img class="big-img lazyload" src="/static/img/blog-img/20210519/1.png" alt="oscal">
                <p class="msg" style="text-align: left; font-weight: bold;margin: 1vw 0;">
                    2.10.1-inch Display
                </p>
                <p class="msg" style="margin: 1vw 0;">
                    The 10.1-inch display with narrow bezels enlarges the field of vision. 1920*1200 FHD resolution
                    shows clear and vivid details. So whether you are watching videos or gaming, you get the immersive
                    viewing experience.
                </p>
                <p class="msg" style="text-align: left; font-weight: bold;margin: 1vw 0;">
                    3.7480mAh Large-capacity Battery
                </p>
                <p class="msg" style="margin: 1vw 0;">
                    This tablet really surprises me with the long battery life as few tablets can be equipped with such
                    a high-capacity battery. It easily supports 6 hours of video, 6 hours of game and 7.5 hours of web
                    browsing. I always use it to watch news on the way to work. And it takes several days for the next
                    charging.
                </p>
                <p class="msg" style="text-align: left; font-weight: bold;margin: 1vw 0;">
                    4.Excellent Octa-core Processor
                </p>
                <p class="msg" style="margin: 1vw 0;">
                    OSCAL tab 9 is powered by an octa-core Spreadtrum T610 processor to improve the CPU and GPU
                    performance by 20%. And thanks to this processor, It’s smooth to play games. I can start up several
                    work & play apps and switch among them swiftly. Unlike my previous tablet, I don’t need to close
                    some apps to smoothly run others.
                </p>
                <img class="big-img lazyload" src="/static/img/blog-img/20210519/2.png" alt="oscal">
                <p class="msg" style="text-align: left; font-weight: bold;margin: 1vw 0;">
                    5.Smart Doke_P 1.0 OS
                </p>
                <p class="msg" style="margin: 1vw 0;">
                    I am very pleased with the clean and clear user interface. The system manager provides a smart
                    control over trash cleaning, battery performance, gaming boosting, and how apps run in the
                    background so I can operate the tablet easier.
                </p>
                <p class="msg" style="text-align: left; font-weight: bold;margin: 1vw 0;">
                    6.Friendly Pricing
                </p>
                <p class="msg" style="margin: 1vw 0;">
                    This Tab 9 is available at a stunningly low price. I got this tablet at $149.99 (original price
                    $199.99) during its promotion period. This price is fairly lower than the Apple, samsung and Huawei
                    tablets but I can enjoy the comparable performance with these brands.
                </p>
            </div>
        </div>
        <div class="go-top">
            <span class="top-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-chevron-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                </svg>
            </span>
        </div>
    </div>
    <div id="footer" th:include="footer :: myFooter">
    </div>
</body>

</html>
<script async src="/static/lib/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
<script src="/static/js/public.js"></script>