<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <link rel="canonical"th:href="${'https://www.oscal.hk/newsdetail/'}+${newsId}" />
    <title  th:if="${newsDetail.newsTdkTitle==''}">  title </title>
    <title th:text="${newsDetail.newsTdkTitle}" th:if="${newsDetail.newsTdkTitle!=''}">OSCAL-header</title>
    <meta name="description" th:attr="content=${newsDetail.newsTdkDes}" th:if="${newsDetail.newsTdkDes!=''}">
    <meta name="keywords" th:attr="content=${newsDetail.newsTdkKeywords}" th:if="${newsDetail.newsTdkKeywords!=''}">
    <meta name="description" content="" th:if="${newsDetail.newsTdkDes==''}">
    <meta name="keywords" content="" th:if="${newsDetail.newsTdkKeywords==''}">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel='stylesheet' type='text/css'  th:href='@{/css/news.css?v=1.000}'>
    <link rel='stylesheet' type='text/css'  th:href='@{/css/public.css?v=1.000}'>
    <link rel='stylesheet' type='text/css'  th:href="@{/lib/bootstrap-4.6.0-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <script th:src="@{/lib/js/jquery-3.3.1.min.js}"></script>
    <script async
            src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/other/lazysizes.min-20201204070627489.js"></script>
            <script type="application/ld+json">{
                "@context": "https://schema.org",
                "@type": "BreadcrumbList",
                "itemListElement": [{
                  "@type": "ListItem",
                  "position": 1,
                  "name": "OSCAL",
                  "item": "https://www.oscal.hk"
                }, {
                  "@type": "ListItem",
                  "position": 2,
                  "name": "News",
                  "item": "https://www.oscal.hk/news/1/"
                }, {
                  "@type": "ListItem",
                  "position": 3,
                  "name": "[[${newsDetail.newsTitle}]]",
                  "item": "https://www.oscal.hk/newsdetail/[[${newsId}]]"
                }]
              }
              </script>
</head>

<body class="en">
<div id="header" th:include="header :: myHeader">
</div>
<div id="AMain" class="main">
    <div class="mainContent">
        <img class="big-img lazyload" th:src="@{/img/OSCAL-newsContent-bg.jpg}" alt="oscal">
        <div class="newsContentBox">
            <div class="word">
                <p class="time" th:text="${newsDetail.newsCre}">
                    <!--   May 19,2021-->
                </p>
                <p class="title" th:text="${newsDetail.newsTitle}">
                    <!--                        Blackview kicks off a wider global expansion by launching a new OSCAL brand-->
                </p>
                <span th:utext="${newsDetail.newsContext}"></span>
                <!-- <img class="big-img lazyload" data-src="/img/news-img/20210519/1.jpg" alt="oscal">
                 <p class="msg">
                     In a bigger step toward becoming a major global player, the world-known rugged phone brand Blackview has announced its new brand, OSCAL, to the world today. At the same time, the OSCAL official website is live where the product shelf has presented the first product - OSCAL C20 smartphone.
                 </p>
                 <p class="msg">
                     OSCAL is positioned as a technology brand that focuses on product performance, design, quality, and service. Driven by the innovation DNA, OSCAL is committed to letting young people enjoy smart devices with leap-forward performance and trendsetting design at a very friendly price.
                 </p>
                 <p class="msg">
                     The OSCAL product line is planned to include the rugged outdoor phone series that Blackview has been so famous for. More include mainstream smartphone series, tablet series, earphone series, and robot series. And OSCAL strives to set foot in 100 global markets, including Europe, Africa, Asia, Latin America, Oceania, etc.
                 </p>
                 <img class="big-img lazyload" data-src="/img/news-img/20210519/2.jpg" alt="oscal">
                 <p class="msg">
                     Back to OSCAL's first product - the OSCAL C20 smartphone, it's an extreme budget phone while you can expect a stylish and luxurious design with exquisite craftsmanship that you can hardly see from a budget phone. For someone that is looking for a phone below $100, OSCAL C20 is the best deal you could have ever seen. More information about the specific price and details will follow soon.
                 </p>
                 <img class="big-img lazyload" data-src="/img/news-img/20210519/3.jpg" alt="oscal">
                 <p class="msg">
                     As a new brand from the same family, OSCAL shares the same R&D strength and QC power with Blackview. In the initial planning, OSCAL has overlapping product lines with Blackview but mainly targets young people. From this perspective, OSCAL distinguishes itself from Blackview with a different vision. Awaiting for OSCAL is a dynamic and promising journey that is full of many variables. What is certain for OSCAL is that it will be a friendly brand with friendly priced quality products for everyone. Stay tuned!                    </p>
               -->
            </div>

        </div>
        <div class="relatedNews">
            <p class="title">RELATED NEWS</p>
            <ul>
                <li th:each="news:${recentNewsList}">
                    <a   th:href="@{|/newsdetail/${news.id}|}" target="_self">
                        <div class="box">
                            <div class="top">
                                <img class="big-img lazyload" th:src="${news.news_img}" alt="oscal">
                            </div>
                            <div class="bottom">
                                <div class="relatedNews_tit">
                                    <p class="other_news">News</p>
                                    <p class="time" th:text="${news.news_cre}"></p>
                                </div>
                                <p class="tit"  th:text="${news.news_title}">

                                </p>
                                <p class="msg" th:text="${news.news_sim_des}">

                                </p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="go-top">
            <span class="top-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                     class="bi bi-chevron-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                </svg>
            </span>
    </div>
    <div class="breadcrumbBox">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">OSCAL</a></li>
                <li class="breadcrumb-item"><a href="/news/1/">News</a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="${newsDetail.newsTitle}">新闻标题</li>
            </ol>
        </nav>
    </div>
</div>
<div id="footer" th:include="footer :: myFooter">
</div>
</body>
<script async th:src="@{/lib/bootstrap-4.6.0-dist/js/bootstrap.min.js}"></script>
<script th:src="@{/js/news.js?v=1.000}"></script>
<script th:src="@{/js/public.js?v=1.000}"></script>
</html>
