<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="canonical" href=""/>
     <title  th:if="${tdkMap==null}">  title </title>
    <title th:text="${tdkMap[tdk_title]}" th:if="${tdkMap!=null}">OSCAL-header</title>
    <meta name="description" th:attr="content=${tdkMap[tdk_describe]}" th:if="${tdkMap!=null}">
    <meta name="keywords" th:attr="content=${tdkMap[tdk_keywords]}" th:if="${tdkMap!=null}">
    <meta name="description" content="" th:if="${tdkMap==null || tdkMap[tdk_describe]==''}">
    <meta name="keywords" content="" th:if="${tdkMap==null || tdkMap[tdk_keywords]==''}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
</head>

<body class="en">
    <div id="Header" th:fragment="myHeader">
        <link rel='stylesheet' type='text/css'th:href="@{/css/head&foot.css?v=1.000}"  >
        <link rel="icon" th:href="@{/favicon.ico}" mce_href="/favicon.ico"
            type="image/x-icon">
        <div class="header_main">
            <div class="menu_box">
                <div class="pc-header">
                    <div class="logo">
                        <a href="/" target="_parent">
                            <img th:src="@{/img/logo.png}" alt="OSCAL phones tablets LOGO">
                        </a>
                    </div>
                    <div class="menu">
                        <ul >
                            <li th:each="product:${prodcutList}"><a class="menu_href mhref" th:href="@{'/buydetail/'+${product.hover_pic}+'/'}"  ><span th:text="${product.cate_name}">Phones</span></a></li>
                            <li><a class="mhref" href="/brand/">Brand</a></li>
                            <li><a class="mhref" href="/news/1/">News</a></li>
                            <li><a class="mhref" href="/support/">Support</a></li>
                             <!-- <li><a class="mhref" href="/home/">Community</a></li> -->
                            <!-- <li><a href="#">OSCAL Store</a></li> -->
                            <li><a href="/contact-us/">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="app-header">
                    <div class="logo">
                        <a href="/" target="_parent">
                            <img th:src="@{/img/logo.png}" alt="OSCAL phones tablets LOGO">
                        </a>
                    </div>
                    <div class="menu-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="menu">
                        <ul>
                            <li class="has-child" th:each="product:${prodcutList}">
                                <a id="menu_href" href=""><span th:text="${product.cate_name}">Phones</span></a>
                                <div class="plus-icon">
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="app-nav-content">
                                    <div class="show-box">
                                        <div class="rg-content">
                                            <div class="content-box">
                                                <ul class="rg-box area-box">
                                                    <li class="box-lv1 item-box">
                                                        <div class="img-box">
                                                            <img class="item-img lazyload"
                                                                    th:data-src="${product.pic}"
                                                                alt="Oscal">
                                                        </div>
                                                    </li>
                                                    <li class="box-lv3 item-box" th:each="productDetail:${product.productDetailList}">
                                                        <a th:href="${productDetail.soure_link}" target="_self">
                                                            <div class="img-box">
                                                                <img class="item-img lazyload"
                                                                    th:data-src="${productDetail.image}"
                                                                    alt="oscal">
                                                            </div>
                                                            <p class="item-title" th:text="${productDetail.store_name}">OSCAL C80</p>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="lf-menu">
                                            <ul class="main-menu">
                                                <ul class="main-menu" >
                                                    <li><a th:href="@{'/buy/'+${product.hover_pic}+'/'}" target="_self" ><span th:text="All+'  '+${product.cate_name}"></span></a></li>
                                                </ul>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="/brand">Brand</a></li>
                            <li><a href="/news/1">News</a></li>
                            <li><a href="/support">Support</a></li>
                             <!-- <li><a href="/home">Community</a></li> -->
                            <li><a href="/contact-us">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-content">
            <div class="menu_lab">
                <!-- <div class="on" onclick="switchProduct('Laptop')">
                    <span>
                        Laptop
                    </span>
                </div>
                <div onclick="switchProduct('Accessories')">
                    <span>
                        Accessories
                    </span>
                </div> -->
            </div>
            <div class="content">

            </div>
        </div>
        <script th:src="@{/lib/js/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/js/header.js?v=1.001}"></script>
        <script async
            src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/other/lazysizes.min-20201204070627489.js"></script>
    </div>

</body>

</html>