<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="Description" content="Wireless Headphones Without Compromise For Better Workouts">
    <title>OSCAL</title>
    <!-- <meta name="keywords" content="OSCAL">
    <meta property="og:title" content="OSCAL" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="https://promo.blackview.hk/Fitbuds1/" />
    <meta property="og:image" content="https://promo.blackview.hk/Fitbuds1/src/img/fb_logo.png" /> -->
    <link rel='stylesheet' type='text/css' href='../static/css/common.css'>
    <link rel='stylesheet' type='text/css' href='../static/css/public.css'>
    <link rel="stylesheet" type="text/css" href="../static/lib/css/swiper.min.css">

    <script src="../static/lib/js/jquery-3.3.1.min.js"></script>
    <script async
        src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/other/lazysizes.min-20201204070627489.js"></script>
</head>

<body class="en">
    <div id="header" th:include="header :: myHeader">
        <!-- <div class="head_svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                class="bi bi-menu-button-wide" viewBox="0 0 16 16">
                <path
                    d="M0 1.5A1.5 1.5 0 0 1 1.5 0h13A1.5 1.5 0 0 1 16 1.5v2A1.5 1.5 0 0 1 14.5 5h-13A1.5 1.5 0 0 1 0 3.5v-2zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-13z" />
                <path
                    d="M2 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm10.823.323-.396-.396A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2H1zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h14zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z" />
            </svg>
        </div> -->

    </div>
    <div id="AMain" class="main">
        <div class="watch_video">
            <div class="box1">
                <p class="tit delay-1">
                    Only The Brave
                </p>
                <p class="watch_vid delay-2">
                    <a class="watch" href="#">Watch the video ></a>
                </p>
            </div>
            <img class="big-img lazyload" data-src="../static/img/video_img.jpg">
        </div>
        <div class="mainContent">
            <div class="product_box">
                <div class="content content-item-1">
                    <div class="product_word">
                        <div class="box">
                            <div class="tit delay-1">
                                <img class="lazyload" data-src="../static/img/big_logo.png">
                                <p class="lab_5g">C20</p>
                            </div>
                            <p class="msg delay-2">
                                Redefine the Entry-level Phone 
                            </p>
                            <p class="buy_href delay-3">
                                <span class="more"><a href="#" target="_blank">Learn More ></a></span>
                                <!-- <span class="buy"><a href="#" target="_blank">Buy Now ></a></span> -->
                            </p>
                        </div>
                    </div>
                    <div class="product_img big_product_img">
                        <img class=" lazyload" data-src="../static/img/product1.png">
                    </div>
                </div>
                <div class="content content-item-2">
                    <div class="product_word">
                        <div class="box">
                            <div class="tit delay-1">
                                <img class="lazyload" data-src="../static/img/big_logo.png">
                                <p>Tab 9</p>
                            </div>
                            <p class="msg delay-2">
                                Style & Power Built to Perfection
                            </p>
                            <p class="buy_href delay-3">
                                <span class="more"><a href="#" target="_blank">Learn More ></a></span>
                                <!-- <span class="buy"><a href="#" target="_blank">Buy Now ></a></span> -->
                            </p>
                        </div>
                    </div>
                    <div class="product_img">
                        <img class="lazyload" data-src="../static/img/product2.png">
                    </div>
                </div>
                <div class="content content-item-3">
                    <div class="product_word">
                        <div class="box">
                            <div class="tit delay-1">
                                <img class="lazyload" data-src="../static/img/big_logo.png">
                                <p>Airbuds 3</p>
                            </div>
                            <p class="msg delay-2">
                                Smart Day with Affordable AirBuds 3
                            </p>
                            <p class="buy_href delay-3">
                                <span class="more"><a href="#" target="_blank">Learn More ></a></span>
                                <!-- <span class="buy"><a href="#" target="_blank">Buy Now ></a></span> -->
                            </p>
                        </div>
                    </div>
                    <div class="product_img">
                        <img class="lazyload" data-src="../static/img/product3.png">
                    </div>
                </div>
                <div class="two_Column">
                    <ul>
                        <li>
                            <div class="four-content">
                                <div class="product_word">
                                    <div class="box">
                                        <div class="tit">
                                            <img class="lazyload" data-src="../static/img/small_logo.png">
                                            <p>C20 PRO</p>
                                        </div>
                                        <p class="msg">
                                            Go Faster With 5G
                                        </p>
                                        <p class="buy_href">
                                            <span class="more"><a href="#" target="_blank">Learn More ></a></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="product_img">
                                    <img class="first_row lazyload" data-src="../static/img/product4.png">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="four-content">
                                <div class="product_word">
                                    <div class="box">
                                        <div class="tit">
                                            <img class="lazyload" data-src="../static/img/small_logo.png">
                                            <p>Tab 10</p>
                                        </div>
                                        <p class="msg">
                                            Powerfully Compact
                                        </p>
                                        <p class="buy_href">
                                            <span class="more"><a href="#" target="_blank">Learn More ></a></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="product_img">
                                    <img class="first_row lazyload" data-src="../static/img/product5.png">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="four-content">
                                <div class="product_word">
                                    <div class="box">
                                        <div class="tit">
                                            <img class="lazyload" data-src="../static/img/small_logo.png">
                                            <p>MagicBook</p>
                                        </div>
                                        <p class="msg">
                                            Thin and light productivity
                                        </p>
                                        <p class="buy_href">
                                            <span class="more"><a href="#" target="_blank">Learn More ></a></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="product_img">
                                    <img class="second_row lazyload" data-src="../static/img/product6.png">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="four-content">
                                <div class="product_word">
                                    <div class="box">
                                        <div class="tit">
                                            <img class="lazyload" data-src="../static/img/small_logo.png">
                                            <p>Aribuds 2</p>
                                        </div>
                                        <p class="msg">
                                            24 Hours Combined Playback
                                        </p>
                                        <p class="buy_href">
                                            <span class="more"><a href="#" target="_blank">Learn More ></a></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="product_img">
                                    <img class="second_row lazyload" data-src="../static/img/product7.png">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="banner">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="word">
                                <p class="tit delay-1">SHOT ON OSCAL</p>
                                <div class="more delay-3">
                                    <a href="#" target="_blank">
                                        <span>OSCAL GALLERY</span>
                                    </a>
                                </div>
                            </div>
                            <img class="big-img pho_image lazyload" data-src="../static/img/banner_1.jpg" alt="OSCAL">
                        </div>
                        <div class="swiper-slide">
                            <div class="word">
                                <p class="tit delay-1">SHOT ON OSCAL</p>
                                <div class="more delay-3">
                                    <a href="#" target="_blank">
                                        <span>Explore More</span>
                                    </a>
                                </div>
                            </div>
                            <img class="big-img pho_image lazyload" data-src="../static/img/banner_2.jpg" alt="OSCAL">
                        </div>
                        <div class="swiper-slide">
                            <div class="word">
                                <p class="tit delay-1">SHOT ON OSCAL</p>
                                <div class="more delay-3">
                                    <a href="#" target="_blank">
                                        <span>Explore More</span>
                                    </a>
                                </div>
                            </div>
                            <img class="big-img pho_image lazyload" data-src="../static/img/banner_3.jpg" alt="OSCAL">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
        <div class="go-top">
            <span class="top-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-chevron-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                </svg>
            </span>
        </div>
    </div>
    <div id="footer" th:include="footer :: myFooter">
    </div>
</body>

</html>
<script src="../static/js/common.js"></script>
<script src="../static/js/public.js"></script>
<script src="../static/lib/js/swiper.min.js"></script>