<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>OSCAL</title>
    <link rel="icon" href="../img/favicon.ico" mce_href="../img/favicon.ico" type="image/x-icon">
    <script type="text/javascript">
        document.write("<link rel='stylesheet' type='text/css' href='../css/news.css?random=" + Math.random() + "' />");
    </script>
    <link rel='stylesheet' type='text/css' href="../css/bootstrap-4.6.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/public.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
</head>

<body class="en">
    <div id="header">
        <iframe title="header" class="head_iframe"
            style="position: fixed; z-index: 1111;top: 0%;background-color: #ffffff;" src="../header.html"
            frameborder="no" marginwidth="0" marginheight="0" scrolling="no"></iframe>
    </div>
    <div id="AMain" class="main">
        <div class="news">
            <div class="breadcrumb_box">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                    class="bi bi-house-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                    <path fill-rule="evenodd"
                        d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                </svg>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="../index.html" target="_parent">Home</a></li>
                        <li class="breadcrumb-item"><a href="../pages/news.html" target="_parent">News Center</a></li>
                        <li class="breadcrumb-item active" aria-current="page">lnformation recommendation</li>
                    </ol>
                </nav>
            </div>
            <div class="content">
                <div class="left">
                    <p><span>News</span>10th july 2020</p>
                </div>
                <div class="right">
                    <p class="tit">
                        4K-capable rugged smartphone withthermal imaging technology
                    </p>
                    <p class="msg">
                        Blackview announced today that thermal rugged phone, Blackview BV9900 Pro (Android 10
                        version)will hit the mar ket around the end of july or early August. For BV9900 Pro old users,
                        they can updateto the Android 10 os by contacting Blackview official then.
                    </p>
                    <img class="big-img lazyload" data-src="../img/news_con.webp" alt="oscal">
                    <p class="msg">
                        Android 10 os brings a massive overhaul over Android 9 0S including a minimalistic ul,
                        revampediconography, intuitive navigation gestures, power-saving dark mode, and much more. Along
                        with thejust-mentioned features, Blackview engineers have put effort into the camera performance
                        elevationby adding video stabilization and optimizing video focus problem, reaching a
                        photography result asgood as what you may get from a much more expensive camera.
                    </p>
                    <p class="msg">
                        Undoubtedly, the update will make this high-end rugged phone even more competitive. lf you do
                        nothave a full picture about the Bv9900 Pro, it's worthwhile to take a few minutes to glance
                        over theoverview.The BV9900 Pro is an ambitious smartphone that features distinctive thermal
                        camera,industry-leading toughness, speed master, and loads of extras. lts built-in FLlR⑧ thermal
                        imagingcamera makes it possible to detect infrared energy (heat) and convert it into a visual
                        image.You canfind it very useful in building inspections (moisture, insulation, roofing,etc.),
                        firefighting, automotivediagnostics, industrial inspections,scientific research, and much more.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <iframe title="footer" width="100%" height="650" src="../footer.html" frameborder="no" marginwidth="0"
            marginheight="0" scrolling="no"></iframe>
    </div>
</body>

</html>
<script src="../js/jquery-3.3.1.min.js"></script>
<script async src="../css/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
<script async
    src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/other/lazysizes.min-20201204070627489.js"></script>
<script async src="../js/news.js"></script>