<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="canonical" th:href="${'https://www.oscal.hk/buydetail/'}+${categoryRoute}+'/'"/>
    <title  th:if="${tdkMap[category_title]==null || tdkMap[category_title]==''}" >  title </title>
    <title th:text="${tdkMap[category_title]}" th:if="${tdkMap[category_title]!=''}">OSCAL-header</title>
    <meta name="description" th:attr="content=${tdkMap[category_des]}" th:if="${tdkMap[category_des]!='' && tdkMap[category_des]!= null}">
    <meta name="keywords" th:attr="content=${tdkMap[category_keywords]}" th:if="${tdkMap[category_keywords]!='' && tdkMap[category_keywords]!= null}">
    <meta name="description" content="" th:if="${tdkMap==null || tdkMap[category_des]==''}">
    <meta name="keywords" content="" th:if="${tdkMap==null || tdkMap[category_keywords]==''}">
    <meta name="robots" content="noindex, nofollow">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
</head>

<body class="en">
<!-- <div id="ProductsMenuContent" th:fragment="myProductsMenu">-->
<div id="header" th:include="header :: myHeader">
</div>
<div class="nav-content">
    <div class="content">
        <div class="close-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                 class="bi bi-x-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
        </div>
        <div class="show-box">
            <div class="lf-menu">
                <ul class="main-menu">
                    <li><a th:href="@{'/buy/'+${categoryRoute}+'/'}" target="_self"><span th:text="All+'  '+${name}"></span></a></li>
                </ul>
            </div>
            <div class="rg-content">
                <div class="content-box">
                    <ul class="lf-box area-box">
                        <li class="box-lv1 item-box">
                            <div class="img-box">
                                <a th:href="${categoryRoute == 'phones' ? '/s60pro': '/pad8'} " target="_self">
                                    <img class="item-img lazyload" th:data-src="${imgCategory}" alt="Oscal">
                                </a>
                            </div>

                            </li>
                            <li class="box-lv1 item-box" th:each="product:${prodcutDetailList}">
                                <a th:href="${product.soure_link}" target="_self">
                                    <div class="img-box right_img ${proName == 'Phones' ? 'mobileImg' : ''}">
                                        <img class="item-img lazyload" th:data-src="${product.image}" alt="Oscal">
                                    </div>
                                    <p class="item-title" th:text="${product.store_name}"></p>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <script src="/lib/js/jquery-3.3.1.min.js"></script> -->
    <script>
        window.onresize = debounce(() => location.reload(), 500)//改变屏幕后刷新
        function debounce(fn, delay) {
            let timer = null
            return () => {
                if (timer) {
                    clearTimeout(timer)
                }
                let arg = arguments
                timer = setTimeout(() => {
                    fn.apply(this, arg)
                }, delay)
            }
        }
    </script>
</body>

</html>