<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>OSCAL</title>
    <link rel="icon" href="../img/favicon.ico" mce_href="../img/favicon.ico" type="image/x-icon">
    <script type="text/javascript">
        document.write("<link rel='stylesheet' type='text/css' href='../css/specs.css?random=" + Math.random() + "' />");
    </script>
    <link rel='stylesheet' type='text/css' href="../css/bootstrap-4.6.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/public.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
</head>

<body class="en">
    <div id="header">
        <iframe title="header" class="head_iframe"
            style="position: fixed; z-index: 1111;top: 0%;background-color: #ffffff;" src="../header.html"
            frameborder="no" marginwidth="0" marginheight="0" scrolling="no"></iframe>
    </div>
    <div id="AMain" class="main">
        <div class="sect1">
            <div class="box1">
                <div class="left">
                    <span>Oscal 8</span>
                </div>
                <div class="right">
                    <p>Overview</p>
                    <p>Specs</p>
                </div>
            </div>
        </div>
        <div class="sect2">
            <div class="content">
                <div class="box1">
                    <div class="img_box">
                        <img class="lazyload" data-src="../img/u260.webp" alt="oscal">
                    </div>
                    <div class="tit">
                        <p class="name">
                            BV6600
                        </p>
                        <div class="color">
                            <ul>
                                <li>
                                    <div class="round_box"></div>
                                    <p>Tasteful Black</p>
                                </li>
                                <li>
                                    <div class="round_box"></div>
                                    <p>Modern Red</p>
                                </li>
                                <li>
                                    <div class="round_box"></div>
                                    <p>Dreamy Blue</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box2">
                    <ul class="box2_ul">
                        <li class="box2_li">
                            <div class="word">
                                <p class="tit">Size and Weight </p>
                                <p class="msg">Height: 164.4mm<br>
                                    Width: 75.0mm<br>
                                    Depth: 9.0mm<br>
                                    Weight:≈195g(with battery)
                                </p>
                            </div>
                            <div class="img_box">
                                <img class="big-img lazyload" data-src="../img/width&height.webp">
                            </div>
                        </li>
                        <li class="box2_li">
                            <div class="word">
                                <p class="tit">Display</p>
                                <p class="msg">6.5-inch (16.5cm) mini-drop fullscreen<br>
                                    LCD multi-Touch display<br>
                                    89% screen-to-body ratio<br>
                                    1600-by-720-pixel resolution at 269 ppi<br>
                                    480cd/m2 max brightness(typical)<br>
                                    Night mode for eye care<br>
                                    Corning Gorilla Glass
                                </p>
                            </div>
                            <div class="img_box">
                                <img class="big-img lazyload" data-src="../img/16-5cm.webp">
                            </div>
                        </li>
                        <li class="box2_li">
                            <div class="word">
                                <p class="tit">Camera</p>
                                <p class="msg">12MP main camera<br>
                                    f/1.8 aperture<br>
                                    119° angle<br>
                                    10x digital zoom<br>
                                    super nightscape<br>
                                </p>
                            </div>
                            <div class="word2">
                                <p class="tit"></p>
                                <p class="msg">12MP main camera<br>
                                    119° angle<br>
                                    f/2.25 aperture<br>
                                    5Plens<br>
                                    Support super nightscape<br>
                                </p>
                            </div>
                        </li>
                        <li class="box2_li">
                            <div class="mar_box">
                                <div class="word">
                                    <p class="tit">Video Recording</p>
                                </div>
                                <div class="word2">
                                    <p class="msg">
                                        4K video recording at 30fps<br>
                                        1080p HD video recording at 30fps<br>
                                        Support 120fps slow motion<br>
                                        Electric image stabilization for video<br>
                                        Filter mode
                                        <br>
                                    </p>
                                </div>
                            </div>
                            <div class="mar_box">
                                <div class="word">
                                    <p class="tit">Chip and Capacity</p>
                                </div>
                                <div class="word2">
                                    <p class="msg">
                                        Octa-core CPU<br>
                                        11nm process technology <br>
                                        Up to 2.2GHz clock speed<br>
                                        4GB＋ 64GB
                                    </p>
                                </div>
                            </div>
                            <div class="mar_box2">
                                <div class="word">
                                    <p class="tit">
                                        Power and Battery
                                    </p>
                                </div>
                                <div class="word2">
                                    <p class="msg">
                                        5000mAh(typical)<br>
                                        10W charging power(5V,2A inbox)<br>
                                    </p>
                                </div>
                            </div>
                            <div class="mar_box2">
                                <div class="word">
                                    <p class="tit">
                                        Cellular and Wireless
                                    </p>
                                </div>
                                <div class="word2">
                                    <p class="msg">
                                        802.11 b/g/n Wi-Fi<br>
                                        Bluetooth 5.0 wireless technology<br>
                                    </p>
                                </div>
                            </div>
                            <div class="mar_box2">
                                <div class="word">
                                    <p class="tit">
                                        Sensors
                                    </p>
                                </div>
                                <div class="word2">
                                    <p class="msg">
                                        Model<br>
                                        FDD-LTE(Bands 1/3/5/7/8/20/28)<br>
                                        TD-LTE(Bands 38/40/41 (2535-2655MHz) )<br>
                                        WCDMA(B1/B5/B8)<br>
                                        GSM(850/900/1800/1900)<br>
                                        <label>*Other markets might have different models based on
                                            localconditions.Please check below for more details.</label>
                                    </p>
                                    <p class="msg">
                                        GPS/Beidou/Galileo/A-GPS<br>
                                        Light sensor<br>
                                        Proximity sensor<br>
                                        Magnetic induction sensor<br>
                                        Gyro-meter<br>
                                        Acceleration sensor<br>
                                        Fingerprint
                                    </p>
                                </div>
                            </div>
                            <div class="mar_box2">
                                <div class="word">
                                    <p class="tit">
                                        Ports
                                    </p>
                                </div>
                                <div class="word2">
                                    <p class="msg">
                                        3.5mm headset jack<br>
                                        Micro-USB<br>
                                        Dual nano-SIM and TF card<br>
                                    </p>
                                </div>
                            </div>
                            <div class="mar_box">
                                <div class="word">
                                    <p class="tit">
                                        Operating System
                                    </p>
                                </div>
                                <div class="word2">
                                    <p class="msg">
                                        OS 6.0.1<br>
                                        Based on Android P
                                    </p>
                                </div>
                            </div>
                              <div class="mar_box">
                                <div class="word">
                                    <p class="tit">
                                        Packing List
                                    </p>
                                </div>
                                <div class="word2">
                                    <p class="msg">
                                        Oscal 8<br>
                                        MicroUSB Cable<br>
                                        10W Charge Adapter<br>
                                        SIM Card Needle<br>
                                        Quick Start Guide <br>
                                        lmportant Product Information (including the Warranty Card) <br>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <iframe title="footer" width="100%" height="650" src="../footer.html" frameborder="no" marginwidth="0"
            marginheight="0" scrolling="no"></iframe>
    </div>
</body>

</html>
<script src="../js/jquery-3.3.1.min.js"></script>
<script async src="../css/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
<script async
    src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/other/lazysizes.min-20201204070627489.js"></script>
<script async src="../js/support.js"></script>