<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>OSCAL</title>
    <link rel="icon" href="../img/favicon.ico" mce_href="../img/favicon.ico" type="image/x-icon">
    <script type="text/javascript">
        document.write("<link rel='stylesheet' type='text/css' href='../css/support.css?random=" + Math.random() + "' />");
    </script>
    <link rel='stylesheet' type='text/css' href="../css/bootstrap-4.6.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
</head>

<body class="en">
    <div id="header">
    </div>
    <div id="AMain" class="main">
        <div class="sect1">
            <div class="search">
                <p>Welcome to Oscal Support</p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text " id="basic-addon1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </span>
                    </div>
                    <input type="text" class="form-control form-control-lg" placeholder="Enter your question"
                        aria-label="Enter your question" aria-describedby="basic-addon1">
                </div>
            </div>
            <img class="big-img lazyload" data-src="../img/ce.webp">
        </div>
        <div class="sect2">
            <div class="tit">
                <p>Online Help</p>
            </div>
            <div class="suooprt_contact">
                <div>
                    <ul>
                        <li>
                            <a href="./faq.html" target="_parent">
                                <div class="top">
                                    <img class="lazyload" data-src="../img/icon_1.webp">
                                </div>
                                <div class="bottom">
                                    <p class="title">
                                        FAQ
                                    </p>
                                    <p class="msg">
                                        Technical problem finding
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="./user.html" target="_parent">
                                <div class="top">
                                    <img class="lazyload" data-src="../img/icon_1.webp">
                                </div>
                                <div class="bottom">
                                    <p class="title">
                                        User Manual
                                    </p>
                                    <p class="msg">
                                        Return and exchange policy
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="./ce.html" target="_parent">
                                <div class="top">
                                    <img class="lazyload" data-src="../img/icon_1.webp">
                                </div>
                                <div class="bottom">
                                    <p class="title">
                                        CE Certification
                                    </p>
                                    <p class="msg">
                                        CE Certification inquiry
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sect3">
            <div class="tit">
                <p>Contact Us</p>
            </div>
            <div class="suooprt_contact">
                <ul>
                    <li>
                        <div class="top">
                            <img class="lazyload" data-src="../img/icon_1.webp">
                        </div>
                        <div class="bottom">
                            <p class="title">
                                CHAT SUPPORT
                            </p>
                            <p class="msg">
                                &nbsp;
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="top">
                            <img class="lazyload" data-src="../img/icon_1.webp">
                        </div>
                        <div class="bottom">
                            <p class="title">
                                EMAIL US
                            </p>
                            <p class="msg">
                                support@Oscal.com
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="footer">
        <iframe title="footer" width="100%" height="650" src="../footer.html" frameborder="no" marginwidth="0"
            marginheight="0" scrolling="no"></iframe>
    </div>
</body>

</html>
<script src="../js/jquery-3.3.1.min.js"></script>
<script async src="../css/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
<script async
    src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/other/lazysizes.min-20201204070627489.js"></script>
<script async src="../js/support.js"></script>